.App {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
  }
  
  body {
    padding: 0;
    margin: 0;
  }
  .experience{
    width: 100%;
  }